accelerate
diffusers
git+https://github.com/thomashirtz/latent-diffusion # custom version of ldm where I added __init__.py to be able to import the modules.
pillow
pytest
torch
torchvision
tqdm
transformers
